[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "==3.5.3"
psycopg2 = "*"
sqlalchemy = "1.4.51"
jupyterlab-sql-explorer = {git = "git+https://github.com/houstondatavis/jupyterlab-sql-explorer.git"}

[dev-packages]

[requires]
python_version = "3.8"
